*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box; }

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right bottom, #f5b641, #f7e1b2);
  z-index: -1; }

nav {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  min-height: 10vh;
  color: white;
  align-items: center; }

.nav__logo {
  grid-column: 2/3;
  font-size: 2rem; }

.nav__hamburger {
  justify-self: end; }

.home {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center; }

.home__page-image {
  height: 80%;
  width: 100%;
  position: relative; }

.home__page-image img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.home__page-image::after {
  content: "";
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1; }

.home__text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }

.heading-primary--main {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 2.5rem;
  display: block;
  animation: moveInLeft 1s ease-out; }

.heading-primary--sub {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1rem;
  display: block;
  animation: moveInRight 1s ease-out; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    translate: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    translate: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
