.footer {
  background-color: $color-grey-dark-2;
  padding: 6rem 0;
  font-size: 1.4rem;
  color: $color-grey-light-2;
  display: flex;
  justify-content: center;

  &__logo-box{
    text-align: center;
  }

  &__logo {
    width: 8rem;
    height: auto;
  }

  &__link {
   margin-top: 7rem;

    &--logo {
      width: 5rem;
      height: auto;
      transition: all .2s;

      &:hover,
      &:active {
        transform: rotate(15deg);
      }

      &-1 {
        margin-right: 3rem;

        &:hover,
        &:active {
          transform: rotate(15deg) scale(.9);
        }
      }

      &-2 {
        transform: scale(1.15);
        margin-left: 3rem;
      }

    }



   
  }
}