nav {
  display: grid;
  align-items: center;
  grid-template-columns: 10% 1fr 1fr 10%;
  min-height: 10vh;
  color: $color-white;
}

.nav {
  &__logo {
    grid-column: 2/3;
    font-size: 2.5rem;
  }

  &__item {
    display: inline-block;

    @include respond(tab-port) {
      opacity: 0;
    }
  }

  &__link {
    &:link,
    &:visited {
      font-size: $default-font-size;
      display: inline-block;
      font-weight: 700;
      padding: .5rem 1rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 230%;
      transition:  all .4s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  &__burger {
    display: none;

    div {
      width: 2.5rem;
      height: .3rem;
      background-color: $color-white;
      margin: .5rem;
      transition: all .3s ease;
    }

    @include respond(tab-port) {
      justify-self: end;
      display: block;
    }
  }

  &__list {
    grid-column: 3/4;
    float: right;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-left: 12rem;

    @include respond(tab-land) {
      margin-left: 3rem;
    }

    @include respond(tab-port) {
      position: fixed;
      right: 0;
      top: 10vh;
      height: 90vh;
      background-color: 
        rgba($color-primary-dark, .8);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      padding: 20rem 0;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      border-radius: 3px;

      z-index: 99;
    }
  }

  &__active {
    @include respond(tab-port) {
      transform: translateX(0%);
    }
  }
}
