.btn--top {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background-color: $color-orange;
  color: $color-white;
  padding: 1.5rem;
  border-radius: 100%;

  z-index: 100;

  &:hover {
    background-color: $color-grey-dark;
  }
}

.btn {
  &:link,
  &:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2.5rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.5rem;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black,.2);


    &::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black,.2);
  }

  &--resume {
    color: $color-white;
    background-color: $color-primary;
    left: 28%;

    &::after {
    background-color: $color-primary-dark;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }

  &--animated {
    animation: moveInBottom .5s ease-out .75s; 
    animation-fill-mode: backwards; 
  }

  &--github {
    background-color: $color-white;
    color: $color-grey-dark;
    left: 30%;

    &::after {
      background-color: $color-white;
    }
  }
}


