.composition {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  flex-wrap: wrap;

  &:hover &__photo:not(:hover) {
    transform: scale(0.8);
    opacity: .3;
  }

  &__photo {
    z-index: 10;
    transition: all .2s;

    &--p1 { width: 25%; } // Ruby
    &--p2 { width: 45%; } // JS
    &--p3 { width: 27%; } // HTML
    &--p4 { width: 28%; } // SQL
    &--p5 { 
      width: 29%;
      margin-left: -1rem;
   } // React
    &--p6 { 
      width: 12%; 
      margin-left: .5rem
    } // Lumen
    &--p7 { 
      width: 30%;
      margin-left: 1rem;
    } // Sass

    &:hover {
      transform: scale(1.15);
      z-index: 20;
    }
  }
}