@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    translate: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    translate: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .nav__hamburger--line1 {
  transform: rotate(-45deg) translate(-.5rem, .6rem);
}
.toggle .nav__hamburger--line2 {
  opacity: 0;
}
.toggle .nav__hamburger--line3 {
  transform: rotate(45deg) translate(-.5rem, -.6rem);
}