.section-about {
  position: relative;
  padding: 10rem 0 12rem 0;

  @include respond(tab-port){
    padding: 5rem 0 9rem 0 ;
  }
}

.section-projects {
  padding: 13rem 0;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-dark, .8),
    rgba($color-primary-light, .8)),
    url("../../assets/section-projects.jpg");
  background-size: cover;
  transform: skewY(-4deg);

  & > * {
    transform: skewY(4deg);
  }

  @include respond(tab-port){
    padding: 10rem 0;
  } 
}

.section-contact {
  padding: 12rem 0;

  @include respond(tab-port){
    background-image: 
    linear-gradient(
      105deg, 
      rgba($color-white, .9) 0%,
      rgba($color-white, .9) 100%),
      url("../../img/nat-10.jpg");
    padding: 10rem 0;
  } 

  .contact {
    background-image: 
      linear-gradient(
        105deg,
        rgba($color-white, .7) 0%,
        rgba($color-white, .6) 50%,
        transparent 50%),
      url("../../assets/contact-bkg.jpg");
    background-size: 100%;
    background-position: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .3);

    @include respond(tab-land){
      background-image: 
      linear-gradient(
        105deg,
        rgba($color-white, .7) 0%,
        rgba($color-white, .6) 65%,
        transparent 65%),
      url("../../assets/contact-bkg.jpg");
      background-size: cover;
    }

    @include respond(tab-port){
      background-image: 
      linear-gradient(
        105deg,
        rgba($color-white, .7) 0%,
        rgba($color-white, .6) 100%),
      url("../../assets/contact-bkg.jpg");
      background-size: cover;
    }


    &__form {
      width: 50%;
      padding: 6rem;

      @include respond(tab-land){
        width: 65%;
      }

      @include respond(tab-port){
        width: 100%;
      }
    }
  }
}
