.section-about {
  position: relative;
  padding: 15rem 0;
}

.section-projects {
  padding: 13rem 0;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-dark, .8),
    rgba($color-primary-light, .8)),
    url("../../assets/section-projects.jpg");
  background-size: cover;
  transform: skewY(-3deg);

  & > * {
    transform: skewY(3deg);
  }
}

.section-contact {
  padding: 15rem 0;
  margin-top: -4rem;

  .contact {
    height: 50rem;
    background-image: 
      linear-gradient(
        105deg,
        rgba($color-white, .7) 0%,
        rgba($color-white, .6) 50%,
        transparent 50%),
      url("../../assets/contact-bkg.jpg");
    background-size: 100%;
    background-position: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .3);

    &__form {
      width: 50%;
      padding: 6rem;
    }
  }
}